.main-card{
	margin-top: 2%;
}

.main-card .card-title{
	font-weight: bold;
}
.input-field input:focus + label {
	color: #212121 !important;
}
/* label underline focus color */
.row .input-field input:focus {
	border-bottom: 1px solid #212121 !important;
	box-shadow: 0 1px 0 0 #212121 !important
}

.card-content .btn{
	background-color: #212121; 
	width: 30%;	
}
.card-content .btn:hover{
	background-color: #424242;
}
